<!DOCTYPE html>
<html>
<head>
  <title>TurkeeIterator</title>
  <%= stylesheet_link_tag    "application", 'screen', 'fancy-type/screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="span-24 last">
    <%= notice %>
  </div>

  <%= yield %>
</div>

</body>
</html>
